@charset "UTF-8";

@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Regular.eot");
  src: local("☺"), url("../fonts/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular.ttf") format("truetype"), url("../fonts/TTHoves-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Medium.eot");
  src: local("☺"), url("../fonts/TTHoves-Medium.woff") format("woff"), url("../fonts/TTHoves-Medium.ttf") format("truetype"), url("../fonts/TTHoves-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Light.eot");
  src: local("☺"), url("../fonts/TTHoves-Light.woff") format("woff"), url("../fonts/TTHoves-Light.ttf") format("truetype"), url("../fonts/TTHoves-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Bold.eot");
  src: local("☺"), url("../fonts/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves-Bold.ttf") format("truetype"), url("../fonts/TTHoves-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("../fonts/TTHoves-Black.eot");
  src: local("☺"), url("../fonts/TTHoves-Black.woff") format("woff"), url("../fonts/TTHoves-Black.ttf") format("truetype"), url("../fonts/TTHoves-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* Обнуление */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "TTHoves";
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 300;
  font-size: 64px;
  color: #BDBDBD;
}

.header {
  padding: 29px 0;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #333333;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  padding-right: 74px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  padding: 3.89px 0;
  margin-right: 60px;
  letter-spacing: 2.4px;
}

.nav__link--active {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.burger {
  display: none;
  padding: 10px 8px;
  z-index: 5;
  background-color: transparent;
}

.burger__item {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333333;
}

.burger__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -8px;
  left: 0;
  background-color: inherit;
}

.burger__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -8px;
  left: 0;
  background-color: inherit;
}

.mobile-menu {
  width: 300px;
  background-color: #BDBDBD;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 3;
  text-align: center;
  padding-top: 100px;
  -webkit-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
}

.mobile-menu__list li {
  margin-bottom: 50px;
}

.mobile-menu__link {
  font-size: 14px;
  padding: 3.89px 0;
  letter-spacing: 2.4px;
}

.mobile-menu__link--active {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.mobile-menu--active {
  right: 0;
}

.intro {
  margin-bottom: 120px;
  padding-top: 100px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.intro__title span {
  font-weight: 300;
  color: #BDBDBD;
}

.intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.intro__arrows {
  position: relative;
  top: 3px;
}

.intro__arrow {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.intro__arrow:hover {
  background-color: #f9f9f9;
}

.intro__arrow-left {
  margin-right: 23px;
}

.intro__num-slides {
  color: #BDBDBD;
  font-size: 24px;
}

.intro__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__slide span {
  display: block;
  width: 44px;
  height: 2px;
  margin: 0 28px;
  background-color: #BDBDBD;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.intro__photo {
  position: relative;
}

.intro__btn {
  padding: 24px 50px;
  font-size: 12px;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.intro__btn:hover {
  background-color: #BDBDBD;
}

.intro__btn:hover .intro__btn-arr {
  padding-left: 20px;
}

.intro__btn-arr {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  top: 2px;
  margin-left: 12px;
}

.about {
  background-color: #FAFAFA;
  padding-top: 30px;
  margin-bottom: 120px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__photo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__img1 {
  margin-bottom: 30px;
  margin-right: 30px;
}

.about__img3 {
  width: 270px;
  height: 140px;
}

.about__content {
  max-width: 400px;
}

.about__text {
  font-size: 16px;
  line-height: 1.56;
  color: #333333;
  margin: 20px 0;
}

.about__btn {
  padding: 24px 65px;
  font-size: 12px;
  letter-spacing: 2.4px;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.about__btn:hover {
  background-color: #BDBDBD;
}

.about__btn:hover .about__arrow {
  padding-left: 20px;
}

.about__arrow {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  top: 2px;
  margin-left: 12px;
}

.tasks {
  margin-bottom: 120px;
}

.tasks__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.tasks__title {
  font-weight: 900;
  font-size: 200px;
  color: #F2F2F2;
  margin-right: 30px;
}

.tasks__title-1 {
  font-weight: 900;
  font-size: 200px;
  color: #F2F2F2;
  margin-right: 30px;
}

.tasks__text {
  max-width: 279px;
  font-size: 22px;
  line-height: 1.63;
  color: #333333;
}

.tasks__text2 {
  max-width: 420px;
  font-size: 22px;
  line-height: 1.63;
  color: #333333;
}

.projects {
  margin-bottom: 120px;
}

.projects__inner {
  margin-top: 60px;
}

.projects__item {
  position: relative;
}

.projects__item:hover .projects__content {
  opacity: 1;
}

.projects__photo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.projects__photo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10%;
  text-transform: uppercase;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 48, 48, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.projects__title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.projects__text {
  margin-top: 8px;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2.4px;
  color: #fff;
}

.projects__text img {
  position: absolute;
  bottom: -5px;
  margin-left: 12px;
}

.projects__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.projects__button {
  margin-top: 30px;
  position: absolute;
  right: 0;
  padding: 24px 39px;
  background-color: #333333;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.projects__button:hover {
  background-color: #000;
}

.projects__button:hover .projects__button-arr {
  padding-left: 32px;
}

.projects__button-arr {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 12px;
  margin-top: -3px;
}

.contact {
  margin-bottom: 120px;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 22px;
}

.contact__input {
  max-width: 391px;
  padding: 15px 0;
  padding-left: 21px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
}

.contact__input-area {
  resize: none;
  height: 147px;
}

.contact__confidential {
  margin-top: 7px;
  max-width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.contact__checkbox {
  display: block;
  background-color: #f3f3f3;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  border: none;
}

.contact__confidential-text {
  font-size: 14px;
  color: #333333;
  margin-bottom: 21px;
}

.contact__submit-con {
  position: relative;
  width: 188px;
}

.contact__submit-con:hover .contact__arrow {
  padding-left: 20px;
}

.contact__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  max-width: 221px;
  padding: 24px 48px;
  padding-right: 84px;
  background-color: #333333;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contact__arrow {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  left: 152px;
  bottom: 18px;
}

.contact__submit:hover {
  background-color: #000;
  padding-right: 104px;
}

.contact__photo {
  margin-top: 22px;
}

.footer {
  padding-top: 58px;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 14px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
}

.footer__list li {
  margin-bottom: 16px;
}

.footer__list li:last-child {
  margin-bottom: 0;
}

.footer__list .footer__con {
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img {
  margin-right: 14px;
}

.footer__list .footer__con:last-child {
  margin-bottom: 0;
}

.footer__socials a {
  display: inline-block;
  margin-right: 40px;
}

.footer__facebook {
  width: 10px;
  height: 19px;
  fill: #fff;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.footer__twitter {
  width: 22px;
  height: 17px;
  fill: #fff;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.footer__linkedin {
  width: 20px;
  height: 20px;
  fill: #fff;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.footer__facebook:hover {
  fill: #1e46f8;
}

.footer__twitter:hover {
  fill: #00bfff;
}

.footer__linkedin:hover {
  fill: #077599;
}

.footer__pinterest {
  width: 14px;
  height: 19px;
  fill: #fff;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.footer__pinterest:hover {
  fill: red;
}

.footer__copyright {
  margin-top: 60px;
  color: rgba(200, 200, 200, 0.5);
  border-top: 1px solid #414141;
  padding: 24px 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .projects__item {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .projects__content {
    width: 570px;
    height: 225px;
    left: calc(50% - 285px);
  }

  .projects__photo1 {
    margin-bottom: 0;
  }

  .projects__img {
    width: 570px;
    height: 225px;
  }

  .projects__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .projects__button {
    position: static;
  }
}

@media (max-width: 1160px) {
  .contact__img {
    width: 649px;
    height: auto;
  }
}

@media (max-width: 1100px) {
  .intro__img {
    width: 570px;
    height: auto;
  }
}

@media (max-width: 1064px) {
  .contact__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact__img {
    width: 549px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 54px;
    text-align: center;
  }

  .header .nav {
    display: none;
  }

  .header .burger {
    display: block;
  }

  .intro {
    margin-bottom: 80px;
  }

  .about {
    margin-bottom: 80px;
    text-align: center;
  }

  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__content {
    margin-bottom: 30px;
  }

  .tasks {
    margin-bottom: 80px;
  }

  .tasks__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tasks__item {
    margin-top: 30px;
  }

  .tasks__title {
    margin-right: 30px;
  }

  .tasks__text {
    font-size: 20px;
    max-width: 320px;
    margin-left: 28px;
  }

  .tasks__text2 {
    max-width: 320px;
    font-size: 20px;
  }

  .projects {
    margin-bottom: 80px;
  }

  .projects__content {
    padding: 5% 0;
  }

  .projects__title {
    font-size: 54px;
  }
}

@media (max-width: 991px) {
  .contact {
    margin-bottom: 80px;
  }

  .contact__img {
    display: none;
  }

  .contact__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact__submit {
    margin: 0 auto;
    padding: 20px 35px;
    padding-right: 65px;
  }

  .contact__arrow {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    left: 152px;
    bottom: 15px;
  }
}

@media (max-width: 900px) {
  .intro__title {
    font-size: 54px;
  }

  .intro__img {
    width: 470px;
    height: auto;
  }

  .intro__btn {
    padding: 20px 35px;
  }
}

@media (max-width: 860px) {
  .footer {
    padding-top: 30px;
  }

  .footer__logo {
    margin: 0 auto;
    width: 145px;
    height: 94px;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__item {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }

  .footer__item:nth-child(3) {
    display: none;
  }

  .footer__social-icons {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .footer__socials {
    margin-left: 35px;
  }

  .footer__copyright {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 50px;
  }

  .intro {
    margin-bottom: 80px;
  }

  .intro__title {
    font-size: 44px;
  }

  .intro__img {
    width: 370px;
    height: auto;
  }

  .about {
    margin-bottom: 80px;
  }

  .about__btn {
    padding: 20px 55px;
  }

  .tasks__title {
    font-size: 150px;
  }

  .tasks__text {
    font-size: 18px;
  }

  .tasks__text2 {
    font-size: 18px;
  }

  .tasks {
    margin-bottom: 80px;
  }

  .tasks__text {
    font-size: 16px;
  }

  .tasks__text2 {
    font-size: 16px;
  }

  .projects__img {
    width: 470px;
  }

  .projects__content {
    width: 470px;
    left: calc(50% - 235px);
  }

  .projects__title {
    font-size: 44px;
  }

  .projects {
    margin-bottom: 80px;
  }

  .projects__img {
    width: 370px;
  }

  .projects__content {
    width: 370px;
    left: calc(50% - 185px);
  }

  .projects__title {
    font-size: 34px;
  }

  .projects__button {
    margin-top: 0;
    padding: 20px 32px;
  }
}

@media (max-width: 628px) {
  .about__photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__img1 {
    margin-right: 0;
  }

  .about__img2 {
    display: none;
  }

  .about__text {
    font-size: 14px;
  }

  .about__btn {
    padding: 20px 45px;
  }

  .projects__button {
    padding: 18px 28px;
  }
}

@media (max-width: 610px) {
  .intro {
    text-align: center;
  }

  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .intro__title {
    margin: 30px 0;
    font-size: 40px;
  }

  .intro__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }

  .intro__arrow {
    margin-right: 0;
  }

  .intro__num-slides {
    margin-left: 15px;
    font-size: 18px;
  }

  .intro__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
  }

  .intro__slide span {
    width: 30px;
  }
}

@media (max-width: 487px) {
  .tasks__title {
    font-size: 100px;
  }

  .tasks__text {
    font-size: 14px;
    margin-left: 20px;
  }

  .tasks__text2 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 415px) {
  .projects__img {
    width: 315px;
  }

  .projects__content {
    width: 315px;
    left: calc(50% - 157.5px);
  }

  .projects__title {
    font-size: 30px;
  }

  .projects__img {
    width: 290px;
  }

  .projects__content {
    width: 290px;
    left: calc(50% - 145px);
  }
}

@media (max-width: 410px) {
  .intro__img {
    width: 270px;
  }

  .intro__btn {
    padding: 18px 25px;
  }

  .intro__title {
    font-size: 34px;
  }
}

@media (max-width: 400px) {
  .contact__input {
    max-width: 100%;
  }
}